.nav {
    grid-area: n;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #262737;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}