.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 80%;
  grid-template-areas:
  "n h"
  "c c";

  grid-template-rows: 75px 1fr;
  grid-template-columns: 10fr 2fr;
  /* grid-gap: 10px; */
}

.app-wrapper .app-wrapper-content {
  grid-area: c;
  border: 2px solid black ;
  background-color: #262737;
}