.dialogs {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

.dialogsItems{
    padding: 10px;
    color: #e6dede;
}

.dialogsItems .active {
    color: #e6dede;
}

.messages {
    padding: 10px;
    color: #e6dede;
}

